/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header Styles */

header {
    background: linear-gradient(to right, hwb(348 64% 11% / 0.759), #638ee3);
    color: #0d0c0cdd;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;

}

header h1 {
    display: flex;
}

/* navigation bar */

.navbar {
    display: flex;
    gap: 2px;
}

.nav-link {
    display: inline-flexbox;
    padding: 20px 35px;
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-link:hover {
    background-color: #ff5722;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.nav-link:active {
    background-color: #e64a19;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
        align-self: auto;
    }

    .nav-link {
        width: 40%;
        text-align: left;
        margin: 0px;
    }
}

/* Main Content */

main {
    display: flex;
    margin-top: 20px;
}

.main-content {
    flex: 3;
    margin-right: 20px;
}

.post {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.post:hover {
    transform: translateY(-10px);
}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.post h2 {
    margin: 0;
}

.load-more {
    display: block;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    background: #532337d5;
    color: #fbf6f6f5;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
}

.load-more:hover {
    background: #05060636;
}

/* Sidebar */
.sidebar {
    flex: 1;
}

.sidebar div {
    background: #f3ebebbf;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    margin: 0;
    margin-bottom: 10px;
}


/* Footer Styles */
footer {
    background: #a5aec4;
    font-style: italic;
    color: #130505;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
}

footer nav ul {
    list-style: none;
    font-style: normal;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li a {

    display: inline-flexbox;
    padding: 5px 5px;
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

footer nav ul li a:hover {
    background-color: #ff5722;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


/* Responsive Design */
@media (max-width: 768px) {

    header nav,
    header .search {
        display: none;
    }

    header h1 {
        display: block;
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    .main-content,
    .sidebar {
        margin-right: 0;
    }
}
